.div_back {
    position: inherit;
}

.back_img {
    position: absolute;
    background-image: url(../Img/backgroung.jpg);
    background-repeat: no-repeat;
    opacity: 0.7;
    background-position: 50% 50%;
    display: block;
    background-size: cover;
    height: 900px;
    overflow: hidden;
    top: 0px;
    left: 0px;
    right: 0;
    bottom: 0;
    z-index: -1;
}
